{% if page.file.src_uri.startswith('blog/posts') %}
        <script src="https://giscus.app/client.js"
                data-repo="PurdueRCAC/RCAC-Docs"
                data-repo-id="R_kgDOPimO-Q"
                data-category="General"
                data-category-id="DIC_kwDOPimO-c4CufJ7"
                data-mapping="pathname"
                data-strict="0"
                data-reactions-enabled="1"
                data-emit-metadata="0"
                data-input-position="bottom"
                data-theme="light"
                data-lang="en"
                crossorigin="anonymous"
                async>
        </script>
{% endif %}
